.login-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.container {
  background-color: grey;
  color: black;
}

/* new */
.container input[type="text"] {
  color: black;
}

/* new */
.container input[type="password"] {
  color: black;
}

.Greeting h1 {
  color: aqua;
  padding-right: 10px;
  font-size: 30px;
  text-align: center;
}
